<div class="sidebar-module sidebar-module-inset">
  <h4>Über</h4>
  <%- theme.about_widget_content %>
<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=20&l=ez&f=ifr&linkID=9967652eeb77c4cffd217cfec6d19ca7&t=thueringergip-21&tracking_id=thueringergip-21" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</div>
